{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-3" v-text="$t('generator_names')"></h1>
</div>
<div class="bg-secondary text-white p-4 text-center">
    <pre class="container text-wrap text-break mb-0" style="font-size: 2rem;" v-text="answer"></pre>
    <div class="container" v-else v-text="$t('error')"></div>
</div>
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-auto mb-3 row justify-content-center">
            <label for="field-name" class="col-auto col-form-label" v-text="$t('words')"></label>
            <div class="col-auto">
                <input class="form-control" id="field-name" v-model="words">
            </div>
        </div>
        <div class="col-auto mb-3 row justify-content-center">
            <label for="field-count" class="col-auto col-form-label" v-text="$t('how')"></label>
            <div class="col-auto">
                <input type="number" class="form-control" id="field-count" v-model="count">
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" v-text="$t('generate')" @click="generate"></a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const WORDS = ["", "My", "Online", "Blog", "Web", "World", "Go", "Group", "Media", "The", "Design", "Web", "Shop",
        "App", "Pro", "Book", "Network", "Inc", "Net", "News", "Store", "Site", "Tv", "Now", "Center", "Net",
        "Plus", "All", "Pro", "Link", "Club", "Market", "Tech", "Smart", "Free", "Eco", "Box", "Digital", "Hub",
        "Data", "Green", "Info", "City", "Direct", "Online", "Central", "House", "Life", "Global", "Tech", "Super",
        "Live", "Guide", "New", "Home", "Marketing", "Mr", "Easy", "Search", "Zone", "Live", "Apps", "Cloud",
        "Click", "Travel", "Mail", "Just", "Get", "Mobile", "Top", "Best", "USA", "Love", "Shop", "Co", "Lab",
        "Cloud", "Info", "Service", "Express", "Point", "Bio", "Mobile", "Art", "Star", "Press", "Real", "Auto",
        "Social", "List", "Software", "Media", "World", "Open", "Works", "Daily", "Man", "Line", "Think", "Team",
        "Big", "One", "Cafe", "Com", "Studio", "Host", "Company", "Buy", "Your", "We", "Magazine", "Land", "Games",
        "Quick", "Solutions", "One", "Tools", "Time", "Space", "Blue", "Video", "Today", "Consulting", "Re",
        "Power", "Corp", "Me", "Home", "Services", "Labs", "Map", "App", "City", "Mag", "Geo", "Local", "Fast",
        "Hot", "Life", "Global", "Star", "Soft", "Design", "Business", "Cyber", "You", "Project", "Red", "Digital",
        "Tube", "Video", "Help", "Team", "Master", "Power", "Blog", "Source", "View", "Bay", "Dr", "Planet",
        "Vision", "Bank", "Creative", "Cool", "Max", "Mega", "Search", "Forum", "First", "Watch", "Sun", "Business",
        "Base", "Data", "Simple", "On", "Logic", "Host", "Code", "Up", "Social", "Work", "Club", "Page", "Mart",
        "Fun", "Ville", "Spot", "Links", "Guru", "Max", "Deals", "Ware", "Fx", "Game", "Project", "Systems", "Air",
        "Server", "Next", "Connect", "Park", "News", "Factory", "Great", "System", "International", "Site", "Smart",
        "Sky", "Good", "Click", "Post", "Find", "Studio", "Trade", "Planet", "Talk", "King", "Card", "Solar",
        "Sales", "Place", "Link", "Gold", "Nation", "Dream", "Board", "Exchange", "Designs", "Micro", "Kit", "Free",
        "Portal", "Mate", "Urban", "Happy", "HQ", "Market", "Management", "Health", "Review", "Pad", "Magic",
        "Wise", "Virtual", "Way", "USA", "True", "Mall", "Bar", "Brand", "Port", "Tool", "Pure", "Money", "Share",
        "Daily", "Quest", "Training", "Money", "Inter", "Our", "Co", "Solution", "Win", "Fly", "Care", "Report",
        "Internet", "Log", "Neo", "Wiki", "Office", "Technology", "Soft", "Show", "Trade", "Sport", "Finder",
        "Play", "Craft", "Buy", "Bot", "Love", "Simply", "Channel", "Engine", "Buzz", "Pages", "Capital", "America",
        "Green", "Magic", "Expert", "Support", "People", "Plan", "Buddy", "Deal", "ly", "Group", "Agency", "Mini",
        "Future", "Zen", "Room", "Cast", "Products", "Find", "Sites", "Silver", "Force", "Bit", "Time", "Stock",
        "Print", "Share", "Fresh", "Up", "Sale", "DB", "Speed", "Mobi", "Day", "Mix", "Academy", "Tree", "Wire",
        "Fit", "Stream", "Image", "Work", "Fun", "Marketing", "Top", "Ultra", "Total", "Flow", "Fire", "Directory",
        "Core", "Play", "Feed", "Track", "Master", "Nano", "Events", "Active", "Station", "Edu", "Cash", "Sound",
        "School", "Style", "Digi", "Energy", "Light", "Gate", "ology", "Farm", "File", "Wiki", "Machine", "Tracker",
        "Space", "Tele", "Manager", "Pal", "Wave", "Un", "Match", "Gallery", "Meta", "Pros", "VIP", "Gear", "Earth",
        "Town", "Networks", "Alpha", "Control", "Face", "Hyper", "Style", "Office", "Clean", "Pack", "Cam", "Agent",
        "Instant", "Direct", "Cube", "American", "Idea", "Pool", "Key", "pedia", "First", "Energy", "Safe", "Pop",
        "Any", "Check", "You", "Perfect", "For", "Stuff", "Snap", "Wow", "Trader", "Post", "Tips", "LLC", "Depot",
        "Website", "Tag", "Light", "Fashion", "Key", "Pin", "Tour", "Mind", "Gold", "Party", "Cart", "Promo",
        "Connection", "Tec", "Mark", "Golden", "Index", "Apple", "Multi", "Wizard", "Hello", "Mania", "Better",
        "Doc", "Touch", "Family", "Dog", "Research", "Girl", "Black", "King", "Call", "Help", "Metro", "Maker",
        "Partners", "Prime", "Ex", "Doctor", "Drive", "Square", "Now", "Nice", "Bee", "Doc", "HD", "Coach", "Kid",
        "Crazy", "Stock", "Omni", "Techno", "Monster", "Street", "Sky", "Ace", "Pod", "Sweet", "Brand", "Rock",
        "Yes", "Tap", "Fix", "Rock", "Trip", "Alert", "Creative", "Rapid", "Builder", "Network", "Modern", "Fly",
        "Monkey", "Talk", "Dot", "Clear", "Mob", "Grid", "Uber", "All", "Auto", "Fund", "Print", "Flash", "Stop",
        "Easy", "High", "Ex", "Fast", "Access", "Local", "Party", "Ask", "Cafe", "College", "Vision", "Mind",
        "Sport", "Cards", "Edge", "Fit", "Call", "Credit", "Full", "Film", "Desk", "Service", "Reviews", "Con",
        "Guy", "Tek", "Ideas", "Note", "Name", "Cheap", "Sense", "Jet", "Cat", "Gift", "Supply", "Interactive",
        "Only", "Bag", "Royal", "Story", "Pixel", "Geek", "Fire", "Age", "Ink", "Lead", "Doctor", "Start", "Mad",
        "Wall", "Air", "Lucky", "Lounge", "Buzz", "Garden", "Path", "Blue", "Fox", "Idea", "Geek", "Face", "Box",
        "Trading", "Core", "Fusion", "Healthy", "Graphics", "Well", "Wise", "VIP", "Advisor", "Consult", "View",
        "Fish", "Property", "Eye", "Camp", "Suite", "Studios", "Shopping", "Add", "Scan", "Brain", "Right", "Notes",
        "Education", "Joy", "Fan", "Community", "Crowd", "Visual", "Voice", "Productions", "Internet", "Safe",
        "Wild", "Records", "Value", "Orange", "Plus", "Discount", "Aqua", "University", "Pass", "Dev", "Epic",
        "Ever", "Circle", "Start", "Value", "Masters", "Tiny", "Pop", "Pre", "Dream", "Event", "Organic", "Cell",
        "Form", "Website", "DB", "Rich", "Family", "Custom", "Focus", "Living", "Journal", "Development", "Show",
        "Technologies", "Hero", "Matrix", "Ultimate", "Zip", "Boy", "Films", "Partner", "Pocket", "Sys", "Day",
        "Science", "Learn", "Insta", "Guard", "Hit", "Action", "Express", "Secure", "Elite", "Expert", "Win",
        "Kids", "Zen", "Trip", "Arts", "Store", "Best", "Times", "Ice", "Commerce", "Vault", "Nova", "Ventures",
        "Spot", "Bar", "Via", "Fest", "Page", "Men", "Body", "Track", "Fox", "Security", "Rocket", "Turbo", "Surf",
        "Pink", "More", "Price", "Trust", "Centre", "Bright", "Wear", "Little", "Diamond", "Consultants", "Voice",
        "Experts", "Jet", "Bug", "Bit", "Baby", "Able", "Action", "Medi", "Lite", "Wiz", "Land", "Surf", "Band",
        "Tour", "Swiss", "Case", "Street", "Look", "Rate", "Corner", "Capital", "Goto", "Agent", "Loop", "Tag",
        "ILove", "Like", "Flex", "Aero", "Point", "Grand", "Friends", "Bus", "Score", "Make", "Watch", "Broker",
        "Extreme", "Mob", "Resources", "Campus", "Run", "Clever", "Bridge", "IO", "Lab", "Promo", "Maps", "Stream",
        "List", "Ocean", "Images", "Well", "Scout", "Brain", "Zoom", "Village", "Trans", "Trend", "Shopping",
        "Rewards", "Crew", "Concepts", "Sale", "Tri", "Zoo", "Plaza", "Boss", "Survey", "Finance", "Extra",
        "Universe", "Stars", "Scape", "Area", "Touch", "Fan", "Sell", "Sound", "Genius", "Luxury", "Factor",
        "Holiday", "Concept", "Check", "Right", "Seek", "Ideal", "Traffic", "Cool", "Angel", "Expo", "Save",
        "Quality", "Premium", "Docs", "Secret", "Advice", "Dragon", "Natural", "Beat", "Globe", "Traffic",
        "Learning", "Trust", "Cap", "Storm", "Success", "Files", "Girls", "Rank", "Liquid", "Smile", "Tours",
        "Sign", "Entertainment", "Mix", "Brands", "Insight", "Connect", "About", "Human", "Raw", "Universal",
        "Analytics", "Flip", "Out", "Bits", "Next", "Ready", "Spark", "Alliance", "Robot", "Friend", "Wave",
        "Heart", "Cell", "Source", "Private", "Lead", "Stone", "Lock", "Build", "Mode", "Talent", "Rocket", "Swift",
        "Electric", "Study", "International", "Zoom", "Class", "Forums", "Model", "Class", "Daddy", "Camp",
        "Freedom", "Ring", "Ace", "Metrics", "Sync", "Hut", "Bin", "Society", "Wonder", "Mine", "Dynamic",
        "Central", "Choice", "ify", "Head", "Fuel", "Robot", "Sub", "Spring", "Stone", "Train", "Unlimited", "Ist",
        "National", "Drive", "More", "Astro", "Gifts", "Community", "Save", "Cross", "Trend", "Genie", "Unique",
        "Security", "Leads", "Nature", "Good", "Tap", "Ninja", "Speed", "Screen", "Program", "Crowd", "Review",
        "Pulse", "Poly", "Solid", "Panel", "Outlet", "Models", "Scan", "Fair", "Simple", "Trends", "Points",
        "Profit", "Company", "Communications", "Corporation", "Look", "Guides", "Shops", "Content", "Snow", "Small",
        "Groups", "Tip", "Every", "Beauty", "Match", "Seek", "Hit", "Ready", "West", "Collection", "Spy", "Earth",
        "Joy", "Inn", "Flow", "Spark", "Financial", "Scope", "Gen", "Solo", "Angel", "Assist", "Field", "Robo",
        "Cycle", "Sure", "Ball", "Flash", "Pilot", "Strategy", "Workshop", "Quote", "Zilla", "Motion", "Storage",
        "Smith", "Library", "Iron", "Tab", "Know", "Articles", "Hip", "Special", "Dynamics", "Gem", "Toys", "Giga",
        "Fair", "Classic", "Sonic", "Study", "East", "Double", "Jam", "Select", "Success", "Road", "Delta",
        "Properties", "topia", "Crystal", "Deck", "Creations", "Webs", "Union", "Carbon", "Out", "ster", "Stores",
        "Learning", "Logistics", "State", "Stats", "Public", "Performance", "Sun", "Hunt", "Target", "Talent",
        "Mass", "Warehouse", "Foundation", "Press", "Personal", "Spin", "Garden", "Clip", "Shopper", "Rate",
        "Article", "Blast", "New", "Lane", "Guru", "Order", "Associates", "Fresh", "Revolution", "Week", "Red",
        "Facts", "Hub", "Focus", "Invest", "Avenue", "Young", "Island", "Resource", "Zero", "Discount", "Ship",
        "Worldwide", "Over", "Amazing", "Retail", "Base", "Phoenix", "Enterprises", "Information", "Challenge",
        "Vita", "Zone", "West", "System", "Senior", "Fusion", "Corporate", "Sphere", "Sell", "Beyond", "Forge",
        "Bird", "Engineering", "Download", "Designer", "Craft", "Update", "Quick", "Panda", "Motor", "Coach",
        "Reports", "Name", "Inside", "Select", "Lady", "Advantage", "Hot", "Quantum", "Snap", "Plex", "Logic",
        "Expo", "Can", "Bio", "Main", "Guys", "Dr", "Innovation", "Worldwide", "Deep", "OnDemand", "Story", "Saver",
        "Flex", "Venture", "Door", "Inno", "Island", "Kid", "Squad", "Dollar", "Hollywood", "Intelli", "Culture",
        "Beta", "Self", "Institute", "Forum", "Chart", "Change", "Vintage", "Living", "Science", "Vet", "Vine",
        "Parts", "Offers", "Glass", "Access", "Sharp", "Create", "Think", "Awards", "Tiger", "Venture", "Education",
        "Line", "Miss", "Production", "Quotes", "Spring", "Solar", "Publishing", "Night", "Beach", "HowTo",
        "Mission", "Awesome", "Shot", "Complete", "Player", "HD", "Metal", "Investments", "Last", "Arena", "Inside",
        "Drop", "Grow", "Liberty", "Graph", "Country", "Secure", "Sugar", "Icon", "Swap", "Tone", "Dark", "United",
        "Retro", "Head", "Side", "Strong", "Premier", "Handy", "Fans", "Indo", "River", "Yellow", "Mill", "Clicks",
        "Order", "Terra", "Hive", "Contact", "Boost", "Absolute", "Color", "Blogger", "Charity", "Less", "Product",
        "Square", "Dreams", "Edge", "Platinum", "Fantasy", "Only", "Tax", "Portal", "Safety", "Viva", "Jump",
        "Block", "Like", "Signs", "Builders", "Marketplace", "Basic", "Leader", "Salon", "Consultant", "Writer",
        "Boards", "Anti", "Funny", "Two", "Coaching", "Cute", "Viral", "Promotion", "Budget", "Vital", "Boom",
        "Lists", "ForLife", "Shark", "Connections", "Support", "Maxi", "Very", "Zap", "Valley", "Youth", "Byte",
        "Offer", "Rack", "America", "Wire", "Real", "Infinite", "Republic", "Tags", "Nest", "Old", "Pacific",
        "Advisors", "Juice", "Mighty", "Need", "Electro", "Yard", "Candy", "Score", "Den", "Monkey", "Shack",
        "Icon", "Concept", "Union", "Stack", "Agile", "Experience", "Single", "Pod", "Active", "Names",
        "Industries", "Hard", "Happy", "Bytes", "Technology", "Clean", "Center", "Purple", "Creation", "Dance",
        "Product", "Enterprise", "Wine", "Rush", "War", "Speedy", "Spirit", "Future", "Gram", "Speak", "Discover",
        "Planner", "Front", "Diary", "Back", "Sea", "Adventure", "Lines", "Guide", "Junction", "Trading",
        "Celebrity", "Promotions", "River", "See", "Wish", "Slim", "Ticket", "Wealth", "Options", "Pick", "Hero",
        "Bucks", "North", "Table", "Shield", "Eagle", "Knowledge", "Scene", "Town", "Tank", "Industry", "Sage",
        "Indy", "Load", "Directory", "Goods", "History", "Profit", "Contact", "Frame", "Firm", "Empire",
        "Interactive", "Peak", "Helper", "Content", "Elite", "Rainbow", "Change", "Answers", "Flight", "Motion",
        "Choice", "Database", "Heaven", "Script", "Hound", "General", "Nexus", "Ways", "Conference", "Boom",
        "Omega", "Enter", "Wholesale", "Collective", "Mint", "Wellness", "Hop", "Safety", "Kitchen", "Meet",
        "Inner", "Own", "Dash", "Electronic", "Side", "Build", "Galaxy", "Executive", "Graphic", "Sight", "Views",
        "Campus", "Innovations", "Pick", "Lean", "Circle", "Macro", "Rentals", "Catalog", "Summer", "Theme", "Hack",
        "Lion", "Channel", "Second", "Rank", "Frog", "Forever", "Gulf", "Loft", "Profile", "Professional", "Hybrid",
        "Archive", "Cruise", "Country", "Neuro", "Holo", "Seeker", "Heart", "Storm", "Infinity", "Perfect",
        "Bargain", "Crazy", "Steel", "Ride", "Radar", "Secrets", "Giant", "Wow", "Wars", "Lady", "Runner", "Bright",
        "Cycle", "Insider", "Karma", "Made", "Panel", "Trail", "Original", "Seed", "Brokers", "Themes", "Mountain",
        "Push", "Open", "Things", "Lot", "Kiwi", "Download", "Garage", "Delivery", "Jack", "Alerts", "Salon",
        "Rich", "Outdoor", "Genius", "Lift", "Ninja", "Peace", "Tutor", "Boss", "Platform", "Impact", "Noble",
        "Reader", "Enjoy", "Sunny", "Window", "Galaxy", "Adventure", "Strategies", "Filter", "Official", "Learn",
        "Forward", "Supplies", "Cup", "Queen", "Artist", "Haven", "Ops", "Seed", "Stories", "Prime", "Final",
        "Cover", "Research", "Makers", "Launch", "Lover", "Markets", "Registry", "Geeks", "Stage", "Southern",
        "Send", "Mint", "Proxy", "Cover", "Dude", "Zip", "Results", "Mates", "Creator", "Investment", "Matters",
        "Codes", "Drink", "Chef", "Remote", "Vote", "Spin", "Chain", "Drop", "Ruby", "Training", "Nut", "Meter",
        "Stage", "Tea", "Professional", "Shift", "Locker", "Sure", "Launch", "Pen", "Tribe", "Body", "Candy",
        "Explorer", "Excel", "Savvy", "Bold", "Plans", "Savvy", "Advanced", "Record", "Locator", "Arc", "Beautiful",
        "Jump", "Consumer", "Gadget", "Vista", "Freedom", "Positive", "Driver", "Kick", "University", "Clips",
        "Kiss", "Bazaar", "Advance", "Skill", "Bucket", "Cake", "Centric", "Hall", "Status", "Area", "Quality",
        "Hydro", "Vibe", "Trainer", "Theory", "Keeper", "Analysis", "Buyer", "Course", "Listings", "Common", "Byte",
        "Anywhere", "Boat", "Patent", "Honey", "Authority", "Hobby", "Mash", "Wholesale", "Prints", "Weekly",
        "Ability", "Display", "Ray", "Dock", "Sage", "Skills", "Ice", "Enterprise", "Major", "Pie", "Flip",
        "Clouds", "Summit", "Huge", "South", "Soup", "Walk", "Smarter", "Mentor", "Write", "Board", "Big", "Switch",
        "Fancy", "Register", "Stocks", "Holdings", "Passion", "Secret", "Giant", "Wind", "Index", "Performance",
        "Dragon", "Song", "Junkie", "Rating", "Unit", "Wicked", "Enviro", "Reach", "Route", "Tracking", "Industry",
        "Bear", "Roll", "Merchant", "After", "Race", "Valley", "Meeting", "Digest", "Buddy", "Intelligence",
        "Browser", "Lost", "Dir", "Today", "Basket", "Wisdom", "Fortune", "Para", "Pretty", "Broker", "Friendly",
        "Pipe", "Doctors", "Profits", "Reality", "Yes", "Peer", "Everyday", "Control", "Repair", "Traders", "Leaf",
        "Cherry", "Rocks", "Lens", "Everything", "Nutri", "Investment", "Tiger", "Wired", "Specialist", "Listing",
        "Agents", "Friends", "Triple", "Villa", "Building", "Kings", "Days", "Chef", "Switch", "Tracks", "Lime",
        "Cosmic", "Send", "Solution", "Target", "Exchange", "Essential", "Assistant", "Intelligent", "Shadow",
        "State", "Series", "Impact", "Swap", "Scoop", "Shots", "Techs", "Companies", "Village", "Minds", "Compare",
        "Hawk", "Ease", "High", "Gateway", "Niche", "Spots", "Charts", "Wallet", "Quiz", "Lighting", "Rebel",
        "Partner", "Evolution", "Keys", "Pals", "Want", "Seller", "Gem", "Wheel", "Superior", "Adventures",
        "Miracle", "Divine", "Pearl", "Spirit", "Western", "Prep", "ForSale", "Rare", "Commerce", "Forever",
        "Client", "Marks", "Field", "Wide", "Magnet", "Booth", "Short", "Vid", "Theme", "Crown", "Droid",
        "Protection", "Quest", "Festival", "Effect", "Leader", "Bud", "Excellent", "Peak", "Woman", "Paradise",
        "Summit", "Agency", "Consultancy", "Atlas", "Matrix", "Popular", "Portfolio", "Tower", "Equipment", "Dash",
        "Wish", "Champ", "Viewer", "Vista", "Caribbean", "Break", "Bomb", "Compass", "Insights", "Flower", "Proxy",
        "Bell", "Crunch", "Eyes", "Grace", "Empire", "Gamer", "Bliss", "Proof", "Grey", "Trek", "Supreme",
        "Lifestyle", "Discounts", "Equi", "Innovation", "Cake", "Forest", "Fiber", "Intra", "Smile", "Block",
        "Clubs", "Professionals", "Palace", "Special", "Create", "Trader", "Architecture", "Brilliant", "Shared",
        "Essentials", "Lovers", "Shine", "Front", "Beta", "Chip", "Dollar", "Exclusive", "Jewel", "Amber", "Addict",
        "Squared", "Pack", "Coin", "Atomic", "Wolf", "Smooth", "Insight", "Night", "Wing", "Ocean", "Thunder",
        "Hidden", "Gator", "Planning", "Lion", "Owl", "Booster", "Gems", "Chart", "Legacy", "Dome", "Desert",
        "tastic", "Rain", "Vivid", "Networking", "Hacker", "Plant", "Synergy", "Nexus", "Tribal", "Zap", "Buys",
        "Bargains", "Certified", "Fuse", "Profile", "Moon", "Factory", "Node", "Distribution", "Pilot", "Reality",
        "Cheap", "Fact", "Affiliate", "Guild", "Method", "Push", "Styles", "Bubble", "Picks", "Todays", "Sharing",
        "Atlas", "Silver", "Proto", "Killer", "Waves", "Strategic", "Shark", "Skill", "Jungle", "Native", "Clear",
        "Silent", "Vitamin", "Ask", "Basics", "Ratings", "Fever", "Vertical", "Tutor", "Strong", "Feeds",
        "Transport", "Kings", "Choose", "Hand", "Verse", "League", "Pocket", "Foundry", "Virtual", "Caster", "How",
        "Imagine", "Generation", "Sheet", "Kingdom", "Deluxe", "Atlantic", "Sec", "Places", "Panda", "Generation",
        "Spice", "Answer", "Comfort", "Programs", "Wide", "Part", "Templates", "Spider", "Visit", "Geo", "Current",
        "Gurus", "Architects", "Citizen", "Mission", "Sunshine", "Compare", "Shine", "Patch", "Level", "Finders",
        "Estate", "Paradise", "Beam", "Standard", "Thought", "WorldOf", "Discovery", "Shows", "Shift", "Karma",
        "Nordic", "Force", "Castle", "Brick", "Trendy", "Truth", "Teacher", "Manage", "Canvas", "Journey",
        "Extreme", "Oasis", "Premium", "Kindle", "Discovery", "Aware", "Freelance", "Dollars", "Reach", "Signal",
        "Barn", "Rise", "Warrior", "Buddies", "Silicon", "Patrol", "Trace", "Industrial", "Passion", "Equity",
        "Better", "Nation", "Inspire", "Neat", "Starter", "Super", "Strategy", "Span", "Bonus", "Hope", "Pit",
        "Vector", "Silk", "Disk", "Advance", "Titan", "Egg", "Brothers", "Cure", "Explore", "opolis", "Course",
        "Alive", "Report", "Stick", "Message", "Whole", "Spaces", "Prize", "Gal", "Together", "Extra", "Visions",
        "Wolf", "Tango", "Maven", "Ping", "Benefits", "Grow", "Grade", "Bliss", "Jar", "Heat", "North",
        "Sustainable", "Leaders", "Slide", "Pulse", "Asset", "AllIn", "Garage", "Smash", "Under", "Blink",
        "Innovative", "Equity", "Kingdom", "Limited", "Splash", "Polar", "Signal", "Provider", "Mirror", "Coastal",
        "Synergy", "Black", "Bella", "Steam", "Phoenix", "Wisdom", "Rates", "Bargain", "Manage", "Signature",
        "Northern", "Bloom", "Accessories", "Cache", "Truth", "Reward", "Cave", "Victory", "Scanner", "Brown",
        "Generator", "Indigo", "Metro", "Arrow", "Letter", "Scout", "Sonic", "Balance", "Shares", "Bamboo", "Stars",
        "Engineer", "Information", "Ranch", "Investor", "Hour", "Machines", "Director", "Nets", "Eve", "Folder",
        "Destination", "Exotic", "Boost", "Herbal", "Sense", "Reporter", "Chrome", "Pitch", "Famous", "Worker",
        "Alternative", "Forest", "Maximum", "Flag", "Fluid", "Nutrition", "Package", "Checker", "Forward", "Alpine",
        "Scribe", "Stellar", "Downloads", "Cyprus", "Rules", "Widget", "Artists", "Detective", "Circles", "Weekly",
        "Groove", "Rider", "Jumbo", "Safari", "Savers", "Buster", "Unlimited", "Client", "Sigma", "Over", "Cross",
        "Serve", "Winner", "Diamond", "Aspen", "Wheel", "Linked", "AllAbout", "Weekend", "Slick", "Fantastic",
        "Groove", "Heroes", "Gun", "Centers", "Public", "Advantage", "Rex", "Worth", "Level", "Maple", "Toolbox",
        "Trinity", "Inspired", "WallStreet", "Journey", "Member", "Chase", "Steel", "Gap", "Copper", "Venue",
        "Complete", "Duck", "Resort", "Engine", "Primary", "AndMore", "About", "Specials", "Surfer", "Leading",
        "Everything", "omatic", "Gorilla", "Realtime", "Tricks", "Champion", "Mirror", "Harmony", "Navigator",
        "Revolution", "Adviser", "Feedback", "Values", "Wild", "Tower", "Cricket", "Resource", "ForLess", "Blaster",
        "Division", "Prima", "Century", "Formula", "Kiss", "Applications", "Machine", "Underground", "Castle",
        "Hunters", "Import", "Bravo", "Response", "Gang", "Smarts", "Process", "Precision", "Manhattan",
        "Progressive", "Bazar", "Splash", "Elegant", "Emerald", "Stamp", "Hook", "Winning", "Concrete", "Selling",
        "Flux", "Lucid", "Mystic", "Independent", "Guardian", "Questions", "Arena", "Specialists", "Wonder",
        "Messenger", "Large", "Army", "Crafts", "Radical", "Bros", "Offshore", "Deluxe", "Quiet", "Pirate",
        "Healing", "Boomer", "Visual", "Shout", "Hunter", "Demand", "Unity", "Management", "Streams", "Honest",
        "Zebra", "Hacks", "Downtown", "Keep", "Eastern", "Choices", "Prize", "Watcher", "Grab", "Supermarket",
        "Queen", "Fabulous", "Cities", "Scapes", "Safari", "Great", "Alpha", "Blast", "Coast", "District", "Battle",
        "orama", "Blitz", "Winner", "Vibes", "Cove", "Number", "Primo", "Vendor", "Draw", "Punch", "Selection",
        "Aurora", "Rhino", "Eternal", "Member", "Chick", "Tactical", "Wizard", "Analyst", "Identity", "True",
        "Charter", "Authentic", "Hotline", "Slide", "Outlet", "Dish", "Beyond", "Organizer", "Devil", "Rally",
        "Harmony", "Charter", "Canvas", "Vest", "Range", "Surface", "Genesis", "Harvest", "Courses", "Slash",
        "Unity", "Leather", "Tales", "Showcase", "Chase", "Genuine", "Classic", "Circuit", "Falcon", "Shock",
        "Fortune", "Shore", "Infinity", "Empower", "Arctic", "Sugar", "Row", "Brew", "Technical", "Shock", "Joint",
        "Sharp", "Horizon", "Blocks", "Request", "Catch", "Bunny", "Campaign", "Ever", "Syndicate", "Echo",
        "Massive", "Application", "Delivery", "Production", "Affordable", "Champion", "Horizon", "Spicy", "Gator",
        "Evolution", "Preview", "Lord", "Serious", "Welcome", "Collections", "Streaming", "Register", "Optimal",
        "Shell", "Rural", "Heaven", "Warrior", "Program", "Elements", "Vector", "General", "Collector", "Mentor",
        "Rally", "Superstore", "Universe", "Portable", "Shape", "Brite", "Venue", "Econo", "Dolphin", "Contract",
        "Eagle", "Chain", "Nitro", "Genie", "Pride", "Morning", "Magnet", "Pride", "Calculator", "Holistic",
        "Growth", "OneStop", "Patriot", "Reference", "ILike", "Homepage", "Crawler", "Location", "Chill", "Stack",
        "Leadership", "Critical", "Optimum", "Relief", "Anchor", "Lightning", "Route", "Groovy", "Lunar", "Mixer",
        "Lance", "Balance", "Mafia", "Marker", "Department", "Gravity", "Prestige", "Glory", "Knight", "Stealth",
        "Consulting", "Connected", "BestOf", "Rogue", "BlueSky", "Lessons", "Import", "Venus", "Relax", "Corporate",
        "Collect", "Heavy", "Incorporated", "Primal", "Corner", "MillionDollar", "Sunrise", "Rockstar", "Coast",
        "WestCoast", "Magnetic", "Reverse", "Midnight", "Pure", "Utopia", "Harbor", "Degree", "Slate", "Twisted",
        "Basic", "Mercury", "Triangle", "Chimp", "Imperial", "Sunday", "Lifetime", "Maze", "Pioneer", "Advisor",
        "Passport", "Trace", "Integrity", "AllStar", "BayArea", "Sweet", "Raven", "Economy", "Razor", "Orion",
        "Sierra", "Other", "Collective", "Underground", "Regal", "Butterfly", "Fleet", "Rabbit", "Supplier",
        "Searcher", "Linked", "Spotter", "Reliable", "Oxford", "Latest", "Dynamic", "Ground", "Oasis", "Recovery",
        "Council", "Coral", "Saving", "Society", "Evergreen", "FiveStar", "Sketch", "Heritage", "Recruit", "Spice",
        "Olympic", "Favorite", "Consult", "Academy", "Bling", "Azure", "Keyword", "Miner", "Element", "Connection",
        "Priority", "Professor", "Fabric", "Driven", "Metric", "Cyber", "OpenSource", "Maniac", "Glamour", "Envy",
        "HighTech", "Sprint", "Leadership", "Broadway", "Pepper", "Channels", "Border", "Visit", "Capture",
        "Junior", "Rings", "Pirate", "Mobility", "Mega", "Tribe", "Incredible", "Legend", "Natural", "Peace",
        "Scope", "Aim", "Brave", "Practical", "Operation", "Hometown", "Pinnacle", "Excel", "Nifty", "County",
        "Junky", "Details", "Penguin", "Sherpa", "Kinetic", "Natures", "Broadcast", "Strike", "Magna", "Oriental",
        "Reps", "Present", "Goddess", "Beacon", "Neighborhood", "Loyalty", "Object", "Gateway", "Hard", "Roots",
        "Headquarters", "Executive", "Dart", "Universal", "Smash", "Apollo", "Cowboy", "Orbit", "Radiant",
        "Activity", "Mosaic", "Sparkle", "Sunset", "Greatest", "Vapor", "Automatic", "Superb", "Title", "Legacy",
        "Circus", "opedia", "Capitol", "Rater", "Northwest", "Oracle", "Legend", "Thread", "Blaze", "Invent",
        "Conscious", "Certified", "Swift", "Healthy", "Escape", "Allied", "Fame", "Catcher", "Paleo", "Main",
        "Journal", "Guard", "Inspiration", "Knight", "Thread", "Oracle", "Transport", "Stamp", "Breeze", "Hands",
        "Frontier", "Flame", "Tender", "RedHot", "Jupiter", "Belt", "Eureka", "Elf", "Thrive", "Hammer", "Marble",
        "Charm", "Scale", "MainStreet", "Loyal", "Challenge", "Mechanics", "Engineering", "Americas", "Mogul",
        "Upgrade", "Treasure", "Viking", "Shoot", "Classy", "Effective", "Celtic", "Europa", "Topics", "Velocity",
        "Peach", "Spotting", "Appeal", "OneClick", "OfTheDay", "Cougar", "Ignite", "Flavor", "Archives", "Kite",
        "Ranger", "Wonderful", "ocity", "Upper", "Solo", "Logical", "Origin", "Blaze", "Nomad", "Higher", "Cupid",
        "Hippo", "LowCost", "NextGen", "Clover", "Finest", "Chaos", "National", "Fanatic", "Cluster", "Unique",
        "Granite", "Sprint", "Finds", "Integral", "Grabber", "Meridian", "Affinity", "Prospect", "Guardian",
        "Cobra", "Transit", "Fetch", "Beacon", "Tough", "Pronto", "Candle", "Exclusive", "Spree", "Everyday",
        "Runners", "Gorilla", "Trick", "Inbox", "Zippy", "Constant", "Sacred", "Strata", "Cedar", "Develop",
        "Custom", "Sight", "Princess", "Quant", "Industrial", "Versa", "Protect", "Rolling", "Orchid", "Regional",
        "Shoot", "Twist", "Nuclear", "Rule", "Civil", "Spectrum", "Ebony", "NewAge", "Monitor", "Crush", "Ether",
        "Maker", "Engage", "Harbor", "Crimson", "Dept", "Treat", "Backyard", "Genesis", "Prism", "Muscle",
        "Preferred", "Federal", "Outside", "Escape", "Hydra", "Plaza", "Majestic", "Topic", "Prosperity",
        "Blackjack", "Phantom", "Canal", "Civic", "Unlock", "Nano", "Avant", "Locate", "Chief", "Slate", "Trivia",
        "Bullet", "Decision", "Command", "Destiny", "Charge", "LastMinute", "Vanilla", "Frontier", "Entrepreneur",
        "Wanted", "Cabin", "Picker", "Database", "Vault", "Foundation", "Formula", "Reserve", "Session", "OneWorld",
        "Destination", "Mutual", "Signals", "Scouts", "Essence", "Cupid", "Heavenly", "Prosper", "Breeze", "Delta",
        "Eclipse", "Encore", "Collection", "Keystone", "Skyline", "Marathon", "Patch", "Maverick", "Economic",
        "Gamma", "Crown", "Clarity", "Current", "Discover", "Analyzer", "Turbo", "Seekers", "Chemical", "Paragon",
        "Season", "Together", "Meta", "Vantage", "Citrus", "Peek", "Gecko", "Roman", "Emotion", "Avatar",
        "Precious", "Penta", "Lighthouse", "FirstClass", "Avalon", "Promote", "Sample", "Pivot", "Princess",
        "Parker", "Viper", "Crane", "Valid", "Sells", "Timber", "League", "Temple", "Draft", "Builders", "Personal",
        "Anytime", "Integrated", "Savage", "EastCoast", "Instant", "Powerful", "Section", "Specialty", "Range",
        "Pearl", "Comparison", "Ranch", "Varsity", "Aspire", "Titan", "Inspiration", "Abstract", "Blade", "Gods",
        "Warehouse", "Bookmark", "Application", "Domino", "Prince", "Galore", "Athens", "Trump", "Shadow", "Simply",
        "Wilson", "Fixer", "FAQs", "Dharma", "Outsource", "Strike", "Jewel", "Precise", "Systems", "Observer",
        "Plasma", "Combat", "Platform", "Communication", "Focal", "Velvet", "Cardinal", "Iron", "Koala", "Walker",
        "Phase", "Premier", "Fiesta", "Millennium", "Clone", "Fiesta", "Relationship", "Semantic", "Progress",
        "Pirates", "Evolve", "Crystal", "Treats", "Everest", "Trigger", "Champ", "Brother", "ReadySet", "Melody",
        "Cosmos", "Accent", "Turnkey", "Optima", "Highland", "Addicts", "Pyramid", "Supreme", "NewLife", "Chamber",
        "Reputation", "Riverside", "NewWorld", "Thermal", "Firefly", "Chance", "Saint", "Foster", "Flexible",
        "Passport", "Apex", "NextLevel", "Creators", "Shared", "Cultural", "Renew", "Browse", "Begin", "Growing",
        "Season", "District", "Sirius", "Grace", "Spartan", "Sublime", "Adaptive", "Sapphire", "Positive",
        "Scientific", "Crunch", "Galactic", "Friday", "Mindful", "Applied", "Loco", "Umbrella", "Equal", "Handbook",
        "Whisper", "Sumo", "Greater", "Gemini", "Spine", "Cornerstone", "Ultra", "Shield", "Unified", "Catalyst",
        "Turtle", "Serenity", "Shake", "Signature", "Pattern", "Jackpot", "Opportunity", "Analog", "Guild", "Beast",
        "Inspire", "Upgrade", "Amigo", "Tiptop", "Tempo", "Carrier", "Maven", "Candid", "Matcher", "Envision",
        "Stable", "Above", "TopTen", "Iconic", "Superstar", "Boulevard", "Uptown", "Elastic", "Presto",
        "Continental", "Cascade", "Hover", "Victory", "Proud", "Intuitive", "Impulse", "Magnum", "Century",
        "Conservative", "Arbor", "Northeast", "Voyage", "Paramount", "Kayak", "Unite", "Mustang", "Gotham", "Spike",
        "Arrow", "Agora", "Destiny", "Renaissance", "Joker", "Alternative", "Jaguar", "Momentum", "Urban", "Method",
        "Comet", "Lucky", "Less", "Vibrant", "Ripple", "Cowboy", "Triad", "Bounce", "DaVinci", "Newton", "Spectra",
        "NorthStar", "Suburban", "Imagination", "Successful", "Sphere", "Shade", "Hurricane", "WinWin", "Defense",
        "UnitedStates", "Twilight", "Nationwide", "Onsite", "Atlantis", "Mason", "Parallel", "Response",
        "Proactive", "Drift", "Titanium", "Present", "Cocktail", "Athena", "Compliance", "Kaizen", "Samurai",
        "Gentle", "Package", "Fountain", "Trophy", "Request", "Blueprint", "Glory", "Factor", "Proof", "Safer",
        "Vanguard", "Slice", "Swarm", "Urgent", "Legendary", "Spotlight", "Swipe", "Material", "Crafter", "Crest",
        "Bulldog", "Metric", "Limitless", "Sleuth", "Managed", "Perpetual", "WorldClass", "Anytime", "Happiness",
        "Smarter", "Astra", "Handmade", "Integra", "Automated", "Branch", "Canary", "Rapid", "Inform", "Zenith",
        "Selector", "Miracle", "Paradigm", "Compact", "Logistics", "Creativity", "Timeless", "Platinum", "Billion",
        "Republic", "Clever", "Marks", "Ancient", "Escrow", "Heartland", "Proven", "Providence", "Surprise",
        "Cupcake", "Violet", "Sovereign", "Modular", "Explosion", "Panther", "Stadium", "Character", "Camel",
        "Benchmark", "Detail", "Fractal", "Victor", "Diablo", "Invention", "Blend", "Thunder", "Monarch", "Pegasus",
        "Agenda", "Maxim", "OnDemand", "Nonstop", "Shuffle", "Haven", "Original", "Commission", "Precision",
        "Complex", "Vital", "Bullet", "BlackBox", "Sonoma", "Uniform", "Pioneer", "Raise", "Scarlet", "Westside",
        "Beautiful", "Tetra", "Relay", "Millions", "AllAmerican", "Visionary", "Veteran", "Landmark", "Concierge",
        "Alchemy", "Mixed", "Intro", "Dragonfly", "Flavor", "Concord", "Sedona", "Ability", "Photon", "Saturn",
        "NorthShore", "Automation", "Skull", "Royalty", "Relevant", "Silk", "Domestic", "Produce", "Marketplace",
        "Vortex", "Verde", "Merlin", "Tesla", "Limited", "Vitality", "OneDay", "Association", "Robotic", "Axiom",
        "GreenLight", "Release", "Costa", "BlueWater", "Integrity", "Marvel", "Cheapest", "Always", "Rethink",
        "Homepage", "Mogul", "Forge", "NumberOne", "Hatch", "Anywhere", "Odyssey", "Buckeye", "Rational", "Driven",
        "Omega", "Humble", "Verified", "Rockstar", "Hybrid", "Define", "Gratis", "BestPrice", "Strato",
        "RockyMountain", "Tomorrow", "Bad", "MileHigh", "Ventura", "Tsunami", "Greenhouse", "Surplus", "Starter",
        "Jackpot", "Canyon", "Personalized", "Awesome", "Enigma", "Magento", "SuperFast", "Appliance", "Achieve",
        "Outlook", "Vortex", "Uncommon", "Acorn", "Wildlife", "Tarot", "Epic", "Moonlight", "Medium", "Abacus",
        "Cobalt", "Marshall", "BigBang", "GoldCoast", "Aero", "Cheaper", "Rhino", "Purpose", "Meter", "Runway",
        "Anchor", "Eternity", "Diverse", "Ascend", "Last", "Individual", "Dedicated", "Reliance", "Corona",
        "Restore", "Covert", "Pinpoint", "Efficient", "Crescent", "Fearless", "Primetime", "Sector", "Forte",
        "Lumen", "Goddess", "Refresh", "Reunion", "Freestyle", "Hotspot", "Clutch", "Cooler", "Magnolia",
        "Frontline", "Polaris", "Champagne", "Sahara", "Utopia", "Blueberry", "Torch", "GameDay", "Fierce", "Depot",
        "Arcadia", "Elemental", "Carmel", "Advent", "Starlight", "Seaside", "Feather", "Relief", "Blossom", "Sword",
        "Fidelity", "Pelican", "Renegade", "Analytics", "Darwin", "Result", "Billboard", "Surge", "Natura", "Handy",
        "Badass", "Streamline", "Zodiac", "Variety", "Mammoth", "Trident", "AllInOne", "Internal", "Merge",
        "Remedy", "BigApple", "Splendid", "Pickup", "Promise", "Verve", "Strawberry", "Exhibit", "Autumn",
        "OldSchool", "Scribe", "Ranger", "Offline", "Protection", "Excite", "Innovate", "BigRed", "Raptor",
        "Rising", "Racer", "Boomerang", "KickAss", "Perform", "Crisp", "Initial", "Transparent", "Smashing",
        "Soldier", "Motivation", "Tornado", "Resident", "Helix", "Overseas", "TopNotch", "SouthBeach", "Superhero",
        "Sensible", "Octopus", "Strictly", "Influence", "Riviera", "Glamour", "Helio", "Dominion", "Outer",
        "Intense", "Rival", "Context", "Guaranteed", "Lance", "Graduate", "Celebration", "Bluegrass", "Mantra",
        "Reflex", "Grove", "Sunflower", "Virtue", "BigTime", "Tandem", "Guerrilla", "Delight", "Vertex", "Ample",
        "Remix", "Vineyard", "Sustain", "Elevate", "Augmented", "Theta", "Libra", "PlanB", "Coyote", "Clearwater",
        "Normal", "Electra", "Multiple", "Neptune", "Saffron", "Prodigy", "OpenHouse", "Milestone", "Radius",
        "Adapt", "Mastermind", "Measure", "Fluent", "Metropolitan", "Archer", "BigBlue", "Pipeline", "Clearance",
        "Bullseye", "Lookup", "Region", "Nautical", "Exquisite", "Pronto", "Presentation", "Independence",
        "Messenger", "Prestige", "FirstChoice", "Nobel", "Dynamite", "Ascent", "Embedded", "Diving", "Mechanical",
        "Carnival", "Razor", "Angle", "Enable", "Eastside", "Laguna", "EastBay", "Helios", "Atlantic",
        "Commonsense", "Immediate", "Jumpstart", "Hotrod", "Ethos", "Cirrus", "GoldStar", "Electron", "Celestial",
        "Incentive", "Secondhand", "Einstein", "RealWorld", "Orchard", "Dodge", "LowPrice", "Points", "Hashtag",
        "Partners", "Strength", "Valencia", "Unknown", "Hydrogen", "Corporation", "OffRoad", "FullCircle",
        "Renewable", "Transform", "Shamrock", "Moment", "Delphi", "FastTrack", "MiddleEast", "Guerilla", "Nirvana",
        "Optimize", "Intelligence", "Dimension", "Essence", "Praxis", "Babylon", "Activate", "Tulip",
        "Contemporary", "Bison", "Extraordinary", "Sniper", "Glide", "Cannon", "Aztec", "August", "Gifted", "Husky",
        "March", "MindBody", "Emerging", "Niagara", "Inspiring", "OneMinute", "Feature", "Baron", "Waterfront",
        "Sandbox", "HighEnd", "Nations", "Homegrown", "Intrepid", "Productive", "Plumb", "Exceptional",
        "WorldsBest", "HighSpeed", "Residential", "Redline", "Interface", "Blazing", "Neural", "Serendipity",
        "Focused", "Cellar", "Balanced", "Allure", "Enhanced", "Gecko", "Booster", "Burst", "Magma", "Functional",
        "Bluebird", "Capstone", "Remarkable", "Plum", "Yankee", "Veritas", "Alexandria", "Leverage", "Impressive",
        "Fighter", "GoodLife", "Sentinel", "Seamless", "Wiser", "Dynasty", "Clockwork", "Divine", "Bluechip",
        "Palace", "Joker", "BlackHat", "Forecast", "Principal", "Breakthrough", "Triumph", "NoLimit", "Valve",
        "Recon", "Discreet", "Futura", "Redwood", "Workplace", "NorthAmerican", "Linear", "Interact", "BlueOcean",
        "Olympia", "Flawless", "Quantum", "Upstate", "Resolution", "Symphony", "Workforce", "Animated", "Featured",
        "Champions", "Peach", "Simplicity", "Dynamics", "RealLife", "Pebble", "Crossroads", "WestEnd", "NewEra",
        "Emerge", "Courier", "President", "Enchanted", "Construct", "Scorpion", "Sparkle", "Priceless", "ParkCity",
        "Cognitive", "Chameleon", "Rainforest", "Citizens", "Quake", "Powerhouse", "Origami", "Simplify",
        "Flamingo", "Saber", "Impress", "Function", "Potential", "Adept", "Falcon", "Respect", "Aegis", "Lightning",
        "Recover", "Stratus", "Outlaw", "Cheetah", "Piper", "OneWay", "Bold", "Valor", "Customized", "Spire",
        "Connecting", "Downtown", "Guess", "Novelty", "Chosen", "Organized", "Petra", "Totem", "Structure", "Ridge",
        "Backstage", "Curious", "BlueMoon", "HalfPrice", "Enhance", "Minerva", "Authority", "AllPro",
        "Commonwealth", "Profitable", "Flare", "Pluto", "CuttingEdge", "Anthem", "Silva", "Pineapple", "Raven",
        "Kudos", "Explorer", "Assure", "Hyperion", "Laurel", "Helpful", "Outstanding", "Anonymous", "Collaborative",
        "Brisk", "Phase", "After", "WhiteHouse", "Salvage", "Transition", "Crucial", "Covenant", "Priority",
        "Epoch", "Clearly", "Ivy", "Sigma", "Matter", "Jasmine", "Overnight", "Endurance", "Infinite", "Mystical",
        "GreenEarth", "Inland", "Tycoon", "Household", "Legion", "Permanent", "Amazing", "Lifeline", "Intellectual",
        "Salmon", "Kangaroo", "Competitive", "Mirage", "Evolving", "Revive", "Excellence", "TopSecret", "Elevation",
        "Interstate", "Designing", "Blender", "Pangea", "OneTouch", "RockSolid", "Realm", "Imagine", "Agile",
        "Foundry", "Peninsula", "Solaris", "Creek", "Snapshot", "Informed", "Handsome", "Sparta", "Regency",
        "Zephyr", "Homestead", "Python", "Dynamo", "ProWeb", "Skilled", "Sparrow", "Wildfire", "Just", "Elements",
        "Batch", "Optimus", "Kickstart", "Aries", "Namaste", "Responsible", "Traditional", "Assured", "Equinox",
        "TrueBlue", "Imaginary", "NewCastle", "Treehouse", "Collage", "Lavender", "Theory", "Revolutionary",
        "Bigfoot", "Cogent", "Revival", "Peacock", "Immortal", "Meteor", "Little", "Expand", "Juniper", "SameDay",
        "Regent", "Tunnel", "Enlightened", "Surreal", "Tonic", "Companion", "Ardent", "Tomorrows", "OnTheGo",
        "Inbound", "Scenic", "Convention", "Objective", "SunCoast", "GoodNews", "Mainline", "Selected", "Wildcat",
        "Assurance", "HawkEye", "Brighter", "Expedition", "Fringe", "Wilderness", "Pivotal", "Revel", "Outback",
        "Voyager", "Sunlight", "Tangent", "Reason", "Extended", "Getaway", "Generator", "Brainstorm", "Pristine",
        "Spear", "Align", "Legends", "Synapse", "OneSource", "Plenty", "Boundless", "Freeway", "Bulletproof",
        "Mainstream", "Lightspeed", "Ambassador", "BlackBelt", "Torque", "Visions", "Robust", "Recharge", "Martial",
        "Strategic", "Magnus", "Selective", "Lakeshore", "Motive", "Servo", "Ignition", "Tailored", "Associated",
        "OnTime", "StressFree", "Apache", "Artemis", "Inventive", "GreenLeaf", "Ariel", "Reservation", "Pilgrim",
        "Presidential", "Greenway", "NextStep", "Paradox", "Alloy", "Taurus", "Tribute", "Viking", "Independent",
        "Instrument", "BestDeal", "Important", "Macro", "Forbidden", "Limit", "Rainmaker", "Pleasant", "Manor",
        "Shoreline", "Protocol", "StreetSmart", "Accord", "Compete", "Confidential", "Communications", "Altitude",
        "Reform", "Canopy", "Fireworks", "Sequoia", "Standup", "Dashboard", "Proposal", "Shotgun", "NewDay",
        "Luminous", "Ahead", "Mermaid", "Revelation", "TrueNorth", "Productivity", "RedRock", "Homeland",
        "Component", "Siren", "Leopard", "Vesta", "LowCountry", "Centurion", "Pierce", "Fuller", "Scrapbook",
        "Nebula", "Singular", "Propel", "Favorite", "Argent", "Collaboration", "Caliber", "Avalanche", "Jubilee",
        "Navigator", "Impression", "Verge", "Yukon", "Fortress", "BottomLine", "Advocate", "Highpoint", "Intellect",
        "Associate", "HighDesert", "Retina", "Longhorn", "Admiral", "Montage", "Dreamer", "BlueCollar", "Elevated",
        "ColdFusion", "Tactical", "Embrace", "Woodlands", "RedStar", "TopDog", "HappyHour", "LevelUp", "NewWave",
        "Prototype", "Hummingbird", "SmallTown", "InStyle", "Gemstone", "Ascension", "Definitive", "Hazel",
        "Valuable", "Formal", "RealDeal", "Boulder", "Circa", "Apogee", "Oceanside", "Composite", "Quark",
        "OnPoint", "Movement", "SouthCoast", "Olympus", "Mitra", "Analytic", "Arsenal", "Advise", "Aperture",
        "Aster", "Versatile", "Syndicate", "Blush", "Topshelf", "Renaissance", "FarEast", "Analysis", "Lateral",
        "Recall", "Loving", "Rumble", "Amplify", "Maxima", "WildWest", "Cyberspace", "Magenta", "Epiphany",
        "Hilltop", "Workflow", "Harmonic", "Northland", "Tangerine", "HomeRun", "Climax", "ThinkTank", "Kappa",
        "SouthSide", "DeepBlue", "Lambda", "Teamwork", "Distinctive", "Vertigo", "Ingenious", "GreenWorld",
        "Reliant", "Scion", "Perspective", "Pitbull", "Responsive", "Octane", "Premiere", "Reaction", "Embassy",
        "TopLine", "Anglo", "Illusion", "Carat", "Upscale", "Tsunami", "Patriots", "SouthShore", "Basis", "Talon",
        "Marlin", "Known", "Gratitude", "Owners", "Fundamental", "Pathway", "Realtime", "Titanic", "Skynet",
        "Helium", "Junction", "Condor", "Trilogy", "BlueLine", "Versus", "Simplified", "Refined", "Dreaming",
        "Limelight", "BlackRock", "Cobra", "Planetary", "Metropolis", "Acumen", "Prolific", "Frequency", "Aspect",
        "NorthCoast", "Blackstone", "Perfection", "SilkRoad", "Endeavor", "Reboot", "Carefree", "Genial",
        "Magellan", "XFactor", "Mohawk", "FreeRange", "GoldenGate", "Kernel", "Sanctuary", "Cinnamon", "Poetic",
        "Marvelous", "GreenLife", "Everlasting", "Windmill", "Vigor", "Eldorado", "Halcyon", "Mindset", "Generate",
        "Supernova", "Myriad", "Bandit", "Satori", "Accent", "Patriot", "Ember", "BlackDiamond", "Valiant",
        "Cyclone", "Bootstrap", "PeachTree", "Oceanic", "Speedy", "Ladybug", "Maximus", "Tornado", "SunValley",
        "Gusto", "Proximity", "Americana", "Confidence", "Seacoast", "Stallion", "PlanetEarth", "Charisma",
        "Fulcrum", "Hallmark", "Elixir", "Toolbox", "Shire", "Quanta", "Consolidated", "Vincent", "Passionate",
        "Environ", "Camelot", "Proton", "Quartz", "Abundance", "Cinch", "ClearView", "Janus", "Upward", "Evolved",
        "Eclipse", "Armada", "Resolve", "GoldRush", "Transcend", "Amity", "Allegro", "Humane", "SkyBlue", "Keyword",
        "GameOn", "Minority", "Structured", "Noble", "Neutrino", "Igniter", "Credo", "Almond", "Roadrunner",
        "Stardust", "NewStar", "Pathfinder", "Seismic", "ThinkBig", "Maximum", "Watermark", "DreamTeam", "NextDoor",
        "Nitro", "Emergent", "Safeguard", "Collision", "Catapult", "RockLand", "Emerson", "Outreach", "Andes",
        "Redeye", "Magnificent", "Centennial", "ThirdEye", "CrystalClear", "Chord", "Latitude", "TriStar",
        "Crossover", "Citywide", "Seneca", "Compassion", "BlackSheep", "Solstice", "HighPerformance", "Annex",
        "Brilliant", "React", "FastLane", "Conway", "Avail", "Goldmine", "FreshStart", "Upside", "Eminent",
        "Moneymaker", "Skylight", "BlackCat", "Cooperative", "Sultan", "Blackhawk", "Firehouse", "Calypso",
        "GreenMountain", "Entity", "Notion", "NorthBay", "Countryside", "Accept", "Esprit", "GreenTree", "Epsilon",
        "Ratio", "Lasting", "Cumulus", "Fairytale", "Stride", "TopGun", "Qualified", "CountryClub", "Provide",
        "BlueRibbon", "Provision", "Hotshot", "Ovation", "Savant", "Arrowhead", "Lucent", "Asterisk",
        "CentralCoast", "Podium", "NewVision", "Blizzard", "Conquest", "InOut", "CloudNine", "Reactive", "Anvil",
        "Capitol", "Colossal", "Echelon", "Subliminal", "Fortis", "Whiteboard", "Sequence", "BlueBox", "Pillar",
        "RedRiver", "EarlyBird", "Navigation", "Morningstar", "Countrywide", "Galileo", "Romeo", "External",
        "Excalibur", "BluePlanet", "Reign", "Nautilus", "Hillside", "Angus", "Incite", "Touchstone", "Contour",
        "Citadel", "Organization", "Riddle", "Bonita", "Imprint", "Particle", "Monsoon", "Goldfish", "Dependable",
        "Neuron", "Walnut", "FourSeasons", "Ordinary", "Enlighten", "SkyHigh", "Redemption", "Montecarlo", "Modest",
        "Meadow", "BlackHills", "Excelsior", "Herald", "Municipal", "OakTree", "OneStep", "CarpeDiem", "Targeted",
        "Latest", "ATeam", "SunnySide", "Mulberry", "Prose", "Profound", "Clout", "RedStone", "AllGood", "FullMoon",
        "RedSea", "Emperor", "Navigate", "Brink", "AmericasBest", "OnTrack", "Breakout", "Values", "Clarion",
        "Leonardo", "Breakaway", "Ponder", "Propeller", "Panache", "Simplex", "Prudent", "AllAround", "Coral",
        "Surefire", "Monument", "Onboard", "Greenfield", "Heron", "Empowerment", "Piranha", "Arden", "Patchwork",
        "Revision", "GreenApple", "AllStar", "Pragmatic", "Serenity", "Partnership", "RedBox", "Obsidian",
        "Silverlight", "Lantern", "Verity", "Pointer", "Wonderland", "Longview", "Summa", "Converse", "Hangout",
        "SmallWorld", "Sentient", "Cougar", "Slingshot", "Cyrus", "Heroic", "Wolverine", "FrontPage", "Intuition",
        "OpenDoor", "Standout", "Singularity", "Tripod", "Exceed", "Turbine", "Academic", "BigBox", "Walden",
        "BlackDog", "Reflect", "Expansion", "Foresight", "Integral", "Takeaway", "Angelic", "Optimized", "Soaring",
        "Flatiron", "Flagship", "Ronin", "FastForward", "NewWay", "Boardwalk", "Thorn", "Everest", "Maximize",
        "BadBoy", "Perception", "FrontRow", "HighFive", "Compound", "Masterpiece", "Overland", "Turquoise",
        "Pentagon", "RightNow", "Millennial", "Whitewater", "Stoke", "Superior", "NewHope", "Arbitrage",
        "Apocalypse", "EaglEeye", "Cowgirl", "Prior", "Doomsday", "StepUp", "Omni", "Lookout", "Cartel",
        "Blackbird", "Intent", "Voltage", "Continuum", "Acuity", "AlphaOmega", "EastEnd", "Prophecy", "HighStreet",
        "Winning", "Leapfrog", "Maroon", "Relentless", "Margarita", "Astoria", "BestValue", "Baseline",
        "Challenger", "Scorpio", "Reload", "Corridor", "Charitable", "Outrageous", "Footprint", "Parkway", "Atomic",
        "Mastery", "Hammock", "BestWay", "Upstart", "Bumblebee", "Sphinx", "Lifelong", "Corpus", "Upstream",
        "Forrest", "RedZone", "Smooth", "Immersive", "Sienna", "Constellation", "Sidewalk", "Tierra", "Makers",
        "Freshwater", "LeadingEdge", "Unison", "Cerebral", "Astute", "Honeybee", "LiveWire", "Leading", "Speedway",
        "BayView", "Pursuit", "AvantGarde", "Carousel", "Gridiron", "RainyDay", "FatCat", "Evoke", "Iridium",
        "Skyway", "MajorLeague", "Apricot", "Continuous", "Argos", "Albion", "MidAtlantic", "Prometheus",
        "StepByStep", "PicturePerfect", "Caesar", "Supersonic", "Northside", "Goldman", "Bender", "OldTown",
        "Sycamore", "AfterHours", "HighQuality", "Mythic", "Enrich", "Locus", "Diligent", "Wholesome", "SweetWater",
        "Quill", "Foremost", "Affluent", "Hyper", "BlackStar", "PacificCoast", "Osprey", "Virtuoso", "Cadence",
        "Discrete", "Notable", "Bonafide", "Guidance", "Lifetime", "Portable", "Encompass", "Renewal", "Altus",
        "SecondChance", "Conceptual", "IvyLeague", "Tidewater", "Acclaim", "OnTarget", "Highlands", "Utopian",
        "Springboard", "Toucan", "Battlefield", "Expressive", "Accelerate", "Presence", "AllOut", "Lumina",
        "Upfront", "Stylus", "Titans", "Depth", "Exposed", "Newline", "BlueGreen", "PageOne", "OnAir", "AllAccess",
        "MapleLeaf", "NewLeaf", "OneLife", "Provident", "RedSky", "Convergence", "Innovative", "Radix", "Radical",
        "Verdant", "Calvary", "NoBull", "Achievement", "Flourish", "Pragma", "Flagstaff", "Gladiator", "GreenLine",
        "Inception", "OutOfTheBox", "Daydream", "SilverStar", "BlueWave", "AskMe", "FirstStep", "Cranberry",
        "BlueMountain", "Resilient", "Nucleus", "Symmetry", "Esteem", "SixPack", "Gryphon", "Wellspring",
        "Luxurious", "RedFox", "BlackTie", "FrontRange", "Onward", "Strive", "Connector", "Entourage",
        "Comprehensive", "Defender", "Seminole", "Realize", "Underdog", "Radiance", "SmartChoice", "BrightStar",
        "Flowing", "Exeter", "BackCountry", "Rosetta", "BetterWorld", "Salient", "BlackSwan", "Remark", "GameTime",
        "PeaceLove", "Wingman", "BlueLight", "CentralPark", "Bedrock", "JustRight", "Syntax", "Dignity",
        "Barracuda", "Recommended", "Ethereal", "Patriotic", "Excellent", "Horizons", "Reactor", "Reflection",
        "Insignia", "Fireside", "Polygon", "Peregrine", "Quasar", "Fellowship", "Reinvent", "Rockwell", "Empress",
        "Integrate", "TouchPoint", "Mahogany", "Waypoint", "RiverBend", "Recognition", "Indigenous", "Crafted",
        "Citrus", "Parachute", "Patrol", "TopRated", "Tempest", "WorryFree", "Instinct", "FullThrottle", "Asher",
        "OneShot", "Regis", "Fathom", "OpenMind", "Amadeus", "Adonis", "RaceCar", "Structural", "Boardroom",
        "Solace", "Jaguar", "Hexagon", "NewImage", "Inferno", "Newtown", "Ventures", "WolfPack", "Insights",
        "HighCountry", "BaseCamp", "Valued", "Traverse", "Snipe", "Upbeat", "Offset", "Championship", "GForce",
        "BlackHole", "Roadside", "Datum", "Woven", "Vinci", "TopTier", "Snowflake", "PeakPerformance", "Micron",
        "Kaboom", "UpNorth", "Mantis", "Lasso", "Continuity", "Analytical", "BlueMarble", "Prudential", "Traction",
        "Jarvis", "Envoy", "Exact", "NextWave", "Awakening", "Unconventional", "Convergent", "Vibration", "Bobcat",
        "Ensemble", "Oversea", "Systematic", "TopRank", "Viewpoint", "Appalachian", "GreenValley", "Privilege",
        "Sylvan", "BlackLabel", "Reflective", "Generous", "Maintain", "Quasi", "HighLine", "Checkpoint", "Chimera",
        "TopHat", "Calibre", "Innate", "Thunderbolt", "SilverLake", "PalmTree", "Bluefish", "HighImpact",
        "InnerCircle", "Skylark", "HomeTeam", "Outpost", "Engineered", "Veteran", "Countdown", "Finest", "MadDog",
        "NightOwl", "Playtime", "Lifecycle", "Eternal", "DarkSide", "RedDog", "Coastline", "RedApple", "BangBang",
        "Simulation", "Creekside", "Illuminate", "Gazelle", "Argon", "Prominent", "NorthPoint", "Realistic",
        "Cabana", "BlueDiamond", "RedDoor", "SweetHome", "Proline", "Keynote", "Sideline", "Promotional",
        "Windward", "Thames", "Roundtable", "Capricorn", "Absolute", "Marietta", "Distributed", "Overall",
        "Whitespace", "Terrain", "Resonance", "Seahorse", "Significant", "RightBrain", "Unleashed", "RightWay",
        "FineLine", "OneMan", "Optimization", "FourStar", "Bluestone", "Blackboard", "Cortex", "FreeSpirit",
        "BigIdea", "Watershed", "Sunbelt", "Touchdown", "FullSpectrum", "Goliath", "Expedite", "NewHouse",
        "NewEarth", "BlueDot", "Grasshopper", "Rivet", "Spitfire", "Amplified", "Exploration", "DarkHorse",
        "RobinHood", "ThreeSixty", "SilverLine", "Panacea", "Phenom", "Poseidon", "StraightUp", "Nemesis",
        "Immersion", "Andromeda", "SilverFox", "YourChoice", "Sable", "Vigilant", "RiverView", "RedDragon",
        "Britannia", "Perennial", "Templar", "RedHat", "Reliability", "NorthCountry", "FourCorners", "PolarBear",
        "Defiant", "FirstRate", "Redbird", "Proteus", "Turnaround", "RiverValley", "Quicksilver", "Goodwin",
        "Preferred", "SunRay", "EdgeWater", "Mayhem", "Ambitious", "WhiteHat", "Axion", "Starboard", "Orchestra",
        "Plexus", "Maximo", "MarcoPolo", "OneUp", "Upcoming", "Concordia", "Headway", "Mayflower", "WestGate",
        "SweetSpot", "Consider", "Decisive", "Proficient", "BlackBear", "Optimal", "Gallant", "Amicus", "Launchpad",
        "GreenBox", "Navajo", "Townsend", "Veracity", "Safeway", "ClassAct", "RoundRock", "FlipSide", "Invictus",
        "Flashpoint", "Viable", "Checkmate", "SpringHill", "OpenAir", "SurfSide", "Mayday", "Beginner", "RisingSun",
        "HassleFree", "NewHorizon", "Relic", "Grandview", "Silverback", "Stingray", "Optimum", "Lakefront",
        "Altair", "Daybreak", "Firebird", "ZeroPoint", "Equator", "BlackPearl", "Insightful", "PacificRim", "Payne",
        "Draco", "Wildcard", "Accredited", "Matador", "CreativeDesign", "OurTown", "Sidekick", "Pantheon",
        "Capacity", "Backbone", "AllSeasons", "Gradient", "Sunstar", "Trifecta", "StarWood", "Painless",
        "GreenStar", "Paragon", "BlackWater", "Lucrative", "Variable", "ParkPlace", "Reservoir", "Contrast",
        "Output", "Quorum", "PureWater", "Sequel", "Brainwave", "Primary", "Bluejay", "TrueLife", "Imperium",
        "Clubhouse", "GoldMedal", "Deuce", "Deadline", "Acrylic", "Doubled", "Proper", "FullHouse", "Liberation",
        "Intact", "Pomegranate", "Resonant", "TopLevel", "HighVoltage", "Forefront", "PeaceOfMind", "HappyLife",
        "Terrace", "Perimeter", "GreenPoint", "Snowbird", "FirstCoast", "WellDone", "Carriage", "GoldenAge",
        "GreenThumb", "Sunburst", "RisingStar", "Threshold", "Kronos", "Conserve", "Affiliated", "Bridgewater",
        "BrightSide", "Osiris", "Resolute", "InGame", "InnerCity", "Axial", "SafeHarbor", "CastleRock", "Striking",
        "HighClass", "Hardhat", "Majesty", "BigStar", "Crossroad", "Candor", "PowerLine", "Pavilion", "Finesse",
        "Matchbox", "NewLook", "FirstPlace", "EasyStreet", "Valhalla", "Mountaintop", "Influx", "Wildflower",
        "TopGear", "Sierra", "Unplugged", "Uplift", "Elementary", "CenterPoint", "GreenStreet", "LionHeart",
        "Junkyard", "Blackburn", "Streetwise", "BlueFire", "OpenRoad", "Inertia", "Flashback", "Highlander",
        "ClearChoice", "Daystar", "WhiteBox", "LiveOak", "EasyWay", "PowerPlay", "Centaur", "Approach", "Sapient",
        "Primavera", "Talisman", "PineTree", "GoldenRule", "Kelvin", "Starship", "SolidRock", "Seashore",
        "Thunderbird", "Pharos", "Revere", "Sundial", "LoneWolf", "DreamCatcher", "Pascal", "TopChoice",
        "OffTheGrid", "Stonewall", "Nightingale", "Senator", "NorthField", "FocalPoint", "BrickHouse", "OliveTree",
        "Shoestring", "IronHorse", "Ambiance", "Sonata", "Formosa", "TestDrive", "WhiteHorse", "Senate", "BlackOps",
        "ProStar", "Allegiance", "NorthPole", "Monumental", "Beachside", "Fission", "Hedgehog", "FirstCall",
        "Blackwell", "Reflections", "Towers", "OffGrid", "Redefine", "QuantumLeap"
    ];

    function shuffle(array) {
        let currentIndex = array.length,
            temporaryValue, randomIndex;
        while (0 !== currentIndex) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }

    function getRandomIntInclusive(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    };

    function getRandomChoice(array) {
        return array[getRandomIntInclusive(0, array.length - 1)];
    };

    function getTitle(string) {
        return shuffle(string.split(/\W/).concat(getRandomChoice(WORDS))).join("")
    }

    function getAnswer(count, string) {
        return new Array(Number(count)).fill(null).map(() =>
            getTitle(string)).join(", ");
    };

    const vueApp = new Vue({
        el: "#app",
        i18n,
        data: {
            answer: "",
            words: "Name Site",
            count: 1,
        },
        methods: {
            generate() {
                this.answer = getAnswer(this.count, this.words);
            },
        }
    });
    vueApp.generate();
</script>
{% endblock %}