{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-3" v-text="$t('random_number')"></h1>
</div>
<div class="bg-secondary text-white p-4 text-center">
    <pre class="container text-wrap text-break mb-0" style="font-size: 2rem;" v-text="answer"></pre>
    <div class="container" v-else v-text="$t('error')"></div>
</div>
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-auto mb-3 row justify-content-center">
            <label for="field-min" class="col-auto col-form-label" v-text="$t('from')"></label>
            <div class="col-auto">
                <input type="number" class="form-control" id="field-min" v-model="from">
            </div>
        </div>
        <div class="col-auto mb-3 row justify-content-center">
            <label for="field-max" class="col-auto col-form-label" v-text="$t('to')"></label>
            <div class="col-auto">
                <input type="number" class="form-control" id="field-max" v-model="to">
            </div>
        </div>
        <div class="col-auto mb-3 row">
            <label for="field-count" class="col-auto col-form-label" v-text="$t('how')"></label>
            <div class="col-auto">
                <input type="number" class="form-control" id="field-count" v-model="count">
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="small mb-3" v-text="$t('random_number_warn')"></div>
        <a class="btn btn-primary" v-text="$t('generate')" @click="generate"></a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getRandomIntInclusive(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    };

    function getAnswer(count, from, to) {
        return new Array(Number(count)).fill(null).map(() =>
            getRandomIntInclusive(from, to)).join(", ");
    };

    const vueApp = new Vue({
        el: "#app",
        i18n,
        data: {
            answer: "",
            from: 0,
            to: 100,
            count: 1,
        },
        methods: {
            generate() {
                this.answer = getAnswer(this.count, this.from, this.to);
            },
        }
    });
    vueApp.generate();
</script>
{% endblock %}