{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-3" v-text="$t('generator_passwords')"></h1>
</div>
<div class="bg-secondary text-white p-4 text-center">
    <pre class="container text-wrap text-break mb-0" style="font-size: 2rem;" v-if="answer" v-text="answer"></pre>
    <div class="container" v-else v-text="$t('error')"></div>
</div>
<div class="container py-3">
    <div class="mb-3 row justify-content-center">
        <label for="field-len" class="col-auto col-form-label" v-text="$t('length')"></label>
        <div class="col-auto">
            <input type="number" class="form-control" id="field-len" v-model="len">
        </div>
    </div>
    <div class="mb-3">
        <div class="text-center" v-text="$t('use')"></div>
        <div class="row justify-content-center">
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" id="field-num" v-model="isnum">
                <label class="form-check-label" for="field-num" v-text="$t('digits')"></label>
            </div>
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" id="field-upp" v-model="isupp">
                <label class="form-check-label" for="field-upp" v-text="$t('uppercase_latin_letters')"></label>
            </div>
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" id="field-low" v-model="islow">
                <label class="form-check-label" for="field-low" v-text="$t('small_latin_letters')"></label>
            </div>
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" id="field-char" v-model="ischar">
                <label class="form-check-label" for="field-char" v-text="$t('special_characters')"></label>
            </div>
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="field-count" class="col-auto col-form-label" v-text="$t('how')"></label>
        <div class="col-auto">
            <input type="number" class="form-control" id="field-count" v-model="count">
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" v-text="$t('generate')" @click="generate"></a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getRandomIntInclusive(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    };

    function getRandomChoice(array) {
        return array[getRandomIntInclusive(0, array.length - 1)];
    };

    function getPassword(len, isNum, isLow, isUpp, isChar) {
        charSet = [];
        if (isNum) {
            charSet.push("0123456789".split(""))
        };
        if (isLow) {
            charSet.push("abcdefghijklmnopqrstuvwxyz".split(""))
        };
        if (isUpp) {
            charSet.push("ABCDEFGHIJKLMNOPQRSTUVWXYZ".split(""))
        };
        if (isChar) {
            charSet.push("!#$%&()*+./:;=>?@[\]^`{|}~'\_".split(""))
        };
        charSet = charSet.flat();
        return new Array(Number(len)).fill(null).map(() =>
            getRandomChoice(charSet)
        ).join("");
    };

    function getAnswer(count, len, isnum, islow, isupp, ischar) {
        if (!(len && (isnum || islow || isupp || isupp))) {
            return null;
        } else {
            return new Array(Number(count)).fill(null).map(() =>
                getPassword(len, isnum, islow, isupp, ischar)).join("\n");
        };
    };

    const vueApp = new Vue({
        el: "#app",
        i18n,
        data: {
            answer: "",
            count: 1,
            len: 10,
            isnum: true,
            islow: true,
            isupp: true,
            ischar: true,
        },
        methods: {
            generate() {
                this.answer = getAnswer(this.count, this.len, this.isnum,
                    this.islow, this.isupp, this.ischar);
            },
        }
    });
    vueApp.generate();
</script>
{% endblock %}